<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bill
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Electricity Bill</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-label>Watt amount</ion-label>
  <ion-input type="number" [(ngModel)]="Watt"></ion-input>
  
  <ion-button color="primary" (click)="onClickMe(Watt)">send value</ion-button><br><br>
  {{plugged}}<br><br>
  <ion-button color="primary" (click)="setTrue()">Plugged</ion-button><br><br>

  <ion-button color="primary" [routerLink]="['/tabs/tab2']">Change unit range</ion-button><br><br>

  Rs.{{cost}}

</ion-content>