<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bill
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Electricity Bill</ion-title>
    </ion-toolbar>
  </ion-header>
  <input value="0"  type="number" [(ngModel)]="Watt">
  <ion-button color="primary" (click)="onClickMe(Watt)">send value</ion-button>
  <br>
  <ion-button color="primary" (click)="setTrue()">Plugged</ion-button>
  <br>
  {{plugged}}
  {{cost}}


</ion-content>